@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Montserrat:wght@700&display=swap" rel="stylesheet');

* {  
    margin: 0;   padding: 0; 
}

body {
    font-family: DM Sant, sans-serif;
    background: #F8F4EB; 
    color: #5E0000;
}

a {
    text-decoration: none;
    color: #FF6B66;
    font-weight: bold;
}

a:hover,
a:focus {
    color: #FFC132;
}

.img {
    width: 400px;
}
.page {
    display: flex;
    gap: 24px;
    padding-top: 100px;
    justify-content: center;
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.title {
    margin-bottom: 24px;
    color: #FF6B66;
}
.info {
    display: flex;
    gap: 12px;
}